canvas {
  margin-top: 2%;
  border: 3px solid gold;
  margin-right: 7%;
  margin-left: 5px;
  position: absolute;
  left: 150px;
}

body {
  background-image: url("../img/circuit-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  user-select: none;
  width: 135px;
  height: 700px;
  background-color: #1f1d1d;
  position: absolute;
  margin-top: 2%;
  margin-right: 7px;
  border: 3px dashed goldenrod;
}

body p {
  text-align: center;
  font-size: 20px;
  color: white;
}

#health img {
  width:40px;
  height: 40px;
}



.img-container{
  display: inline;
}
.hidden {
  display:none;
}